@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
}

header {
  text-align: center;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #152A41;
  padding-top: 120px;
}

header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #7C8698;
  margin-top: 20px;
  margin-bottom: 93px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-top: 31px;
  margin-bottom: 18px;
  color: #152A41;

}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 123px;
  margin-left: 64px;
  margin-right: 63px;
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 393px;
  min-width: 300px;
  background: #F4F5F7;
  border-radius: 16px;
  padding: 40px;
}

.child p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #606C82;
  max-width: 313px;
  margin-bottom: 29px;
  text-align: center;
}


a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #37CDAB;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid transparent;
}
a img {
  margin-left: 8px;
}

.child:hover {
  background: #E8ECFF;
}

a:hover {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 8px 12px;
}
a:focus {
  border: 2px solid #37CDAB;
}